
.list-group {
    list-style-type: none;
    margin: 0px auto;
}

.list-item {
    background-color: $color-white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    margin: 4px 0;

    .tag {
        margin-left: $font-size * 2;
        background-color: #ccc;
        border-radius: 4px;
        display: inline-block;
        padding: 3px 5px;
        font-size: 13px;
        i {
            margin-right: $font-size;
        }
    }
}
