.modal {
    height: 90%;
    overflow-y: auto;
    position: fixed;
    right: 5%;
    top: 100%;
    transition-delay: 100ms;
    transition: transform 250ms ease-in-out;
    width: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @include media-query(medium) {
        width: 60%;
    }

    &.open {
        transform: translate3d(0px, -90%, 0px);
    }
}

.modal-header{
    background-color: $color-gray-dark;
    color: $color-white;
    line-height: $font-size * 3;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    i {
        cursor: pointer;
        position: absolute;
        right: $font-size / 2;
        top: $font-size / 2;
    }

    h4 {
        margin: 0;
        padding-left: $font-size / 2;
        line-height: inherit;
    }
}

.modal-body {
    padding: 0 ($font-size * 2);
}
