.table {
    width: 100%;
    border: 1px solid $color-black-light;

    thead {
        font-weight: 600;
        border-bottom: 1px solid $color-blue-darkest;
    }

    tbody {

    }

    tbody tr:hover {
        background-color: $color-blue;
        color: $color-white;
    }

}
