/**
 * This file contains the colors used throught the project.
 **/
$color-asphalt: rgb(52, 73, 94);

$color-black: rgba(0, 0, 0, 1);
$color-black-light: rgba(0, 0, 0, 0.6);

$color-blue: rgb(52, 152, 219);
$color-blue-dark: rgb(41, 128, 185);
$color-blue-darkest: rgb(44, 62, 80);

$color-gray: rgb(189, 195, 199);
$color-gray-light: rgba(239, 239, 239, 1);
$color-gray-dark: rgb(149, 165, 166);
$color-gray-darker: rgb(127, 140, 141);

$color-green: rgb(39, 174, 96);
$color-green-light: rgb(46, 204, 113);
$color-green-dark: rgb(22, 160, 133);

$color-night-shade: #2C3E50;
$color-concrete: #95A5A6;

$color-orange: rgb(243, 156, 18);
$color-orange-dark: rgb(230, 126, 34);

$color-purple: rgb(155, 89, 182);
$color-purple-dark: rgb(142, 68, 173);

$color-red: rgb(211, 84, 0);
$color-red-light: rgb(231, 76, 60);
$color-red-dark: rgb(192, 57, 43);

$color-turquoise: rgb(26, 188, 156);

$color-yellow: #fddf39;
$color-yellow-dark: rgb(241, 196, 15);

$color-white: rgba(255, 255, 255, 1);
$color-white-dark: rgba(236, 240, 241, 1);
$color-white-floral: rgba(253, 248, 238, 1);
