/**
 * This file contains helper classes used for applying common visual attributes
 * to an element.
 **/

/**
 * This class is used to hide the element and remove it from the document flow.
 */
.remove {
    display: none;
}

/**
 * This class is used to hide an element without removing it from the document
 * flow.
 */
.hide {
    opacity: 0;
    visibility: hidden;
}

/**
 * This class is used to return the element to its initial display property
 */
.show {
    display: initial;
}

/**
 * This class is used to add an underline to heading elements
 */
.h-underline::after {
    content: '';
    border: 1px solid $color-gray-light;
    width: 50%;
    padding-bottom: 8px;
}

/**
 * This class is used to horizontally center an element
 */
.center {
    margin: 0 auto;
}

/**
 * This class is used to display an element as inline-block
 */
.inline {
    display: inline-block;
}
