$col-base-width: 8.3333333333%;

.col {
  position: relative;
  height: 100%;
  min-height: 1px;
  max-height: 100%;
  width: 100%;
  padding: 0 15px;
}

@mixin make-columns($name, $count, $width) {
  @while $count > 0 {
    .col.#{$name}-#{$count} {
      width: $width;
      max-width: $width;
      margin-left: 0;
    }
    .col.#{$name}-pull-#{$count} {
      right: $width;
    }
    .col.#{$name}-push-#{$count} {
      left: $width;
    }
    .col.#{$name}-off-#{$count} {
      margin-left: $width;
    }
    $width: $width - $col-base-width;
    $count: $count - 1;
  }
}

@include make-columns('s', 12, 100%);

@include media-query(medium) {
  @include make-columns('m', 12, 100%);
}

@include media-query(large) {
  @include make-columns('l', 12, 100%);
}
