/**
 * This file defines the style for the .container class
 * @example
 * <div class="container">
 *  <div class="col s-12 m-10 m-off-1 l-8 l-off-2">
 *      <!-- content -->
 *  </div>
 * </div>
 * @group layout
 **/
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}
