/**
 * This file contains the interface themes that govern the background
 * and text color of an element.
 * @group Themes
 **/
.ui-black {
    background-color: $color-black;
    color: $color-white-dark;
}

.ui-asphalt {
    background-color: $color-asphalt;
    color: $color-concrete;
}

.ui-white {
    background-color: $color-white;
    color: $color-black;
}

.ui-blue {
    background-color: $color-blue-dark;
    color: $color-white-dark;
}
