/**
 * This file contains the styles of the HTML heading elements:
 * h1, h2, h3, h4, h5, h6
 * @see http://www.w3.org/TR/html5/dom.html#heading-content
 * @group elements
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/* This ensures that any links within h* tags inherit their font-weight */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h1 {
    font-size: ceil($font-size * 4.2);
    line-height: ceil($font-size *  4.62);
    margin: ceil($font-size * 2.1) 0 ceil($font-size * 1.68) 0;
}

h2 {
    font-size: ceil($font-size * 3.56);
    line-height: ceil($font-size *  3.916);
    margin: ceil($font-size * 1.78) 0 ceil($font-size * 1.424) 0;
}

h3 {
    font-size: ceil($font-size * 2.92);
    line-height: ceil($font-size *  3.212);
    margin: ceil($font-size * 1.46) 0 ceil($font-size * 1.168) 0;
}

h4 {
    font-size: ceil($font-size * 2.28);
    line-height: ceil($font-size *  2.508);
    margin: ceil($font-size * 1.14) 0 ceil($font-size * 0.912) 0;
}

h5 {
    font-size: ceil($font-size * 1.64);
    line-height: ceil($font-size *  1.804);
    margin: ceil($font-size * 0.82) 0 ceil($font-size * 0.656) 0;
}

h6 {
    font-size: ceil($font-size * 1.14);
    line-height: ceil($font-size *  1.2);
    margin: ceil($font-size * 0.7) 0 ceil($font-size * 0.5) 0;
}
