.hamburger {
    display: inline-block;
    cursor: pointer;
    margin: 0px 16px;
    height: 56px;
    width: 32px;
    padding: 17px 0;
    position: relative;
}

.hamburger i,
.hamburger i:before,
.hamburger i:after {
    cursor: pointer;
    height: 3px;
    width: 100%;
    background: black;
    position: absolute;
    display: block;
    content: '';
    transition: all 250ms ease-in-out;
}

.hamburger i:before {
    top: 10px;
}

.hamburger i:after {
    top: 20px;
}

.hamburger.open i {
    background-color: transparent;
}

.hamburger.open i:before,
.hamburger.open i:after {
    top: 10px;
}

.hamburger.open i:before {
    transform: rotate3d(0, 0, 1, 45deg);
}

.hamburger.open i:after {
    transform: rotate3d(0, 0, 1, -45deg);
}
