/**
 * This the .site-nav class.
 * @group modules
 **/
.site-nav {
    border-right: 1px solid $color-gray;
    bottom: 0;
    height: calc(100% - 50px);
    position: fixed;
    left: -251px;
    top: 56px;
    transition: $site-nav-transition;
    width: 250px;
    z-index: 1;
    will-change: translate;

    hr {
        border: 1px solid $color-gray;
    }

    &.open {
        transform: $site-nav-transform;
    }

    li a {
        height: 60px;
        line-height: 60px;
        padding: 0px 20px;
    }

    ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
    }

    li {
        border-bottom: 1px solid $color-gray;
        padding: 0;
        margin-bottom: 0;

        &::before {
            content: none;
        }
    }

    a {
      color: inherit;
      display: block;
      text-decoration: none;
      transition: background 150ms ease-in-out;
      white-space: nowrap;
    }

    a:hover,
    a:focus,
    a:active {
      background-color: $color-gray;
      outline: 0;
    }

}
