$site-nav-transition: transform 250ms linear;
$site-nav-transform: translate3d(251px, 0, 0);
$color-gray: rgb(189, 195, 199);

@import 'site-nav';
@import 'site-header';
@import 'hamburger';

main {
    transition: $site-nav-transition;
}

main.open {
    transform: $site-nav-transform;
}
